
body {
    margin: 0;
}


.section {
    height: 250px;
    background: #bbb;
    text-align: center;
    padding: 20px 0;
}

.main-section {
    width: 1100px;
    margin: 50px auto;
    clear: both;
}

.main-section:before,
.main-section:after {
    content: '';
    display: table;
    clear: both;
}

.left-side {
    width: 250px;
    height: 250px;
    background: #ff0000;
    display: inline-block;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.right-side {
    width: 750px;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.right-side div {
    background: #999;
    height: 250px;
}

.right-side div+div {
    margin-top: 50px;
}