

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5vw;

    @media only screen and (min-width: 1400px){
        grid-template-columns: repeat(4, 1fr);
    }
}

.productList{
    display: flex;
    justify-content: space-evenly;
    
}

.productCard2 {
    position: relative;
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 20vw;
    max-height: 50rem;
    transition: 0.2s;
    
}

.productCard{
    position: relative;
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 20vw;
    max-height: 50rem;
    transition: 0.2s;
    
}

.productCard > img:last-of-type{
    opacity: 1;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
}

.productCard:hover > img:last-of-type {
    opacity: 0;
}





.productName {
    margin: 0.4rem;
    font-size: 120%;

    @media only screen and (max-width: 850px) {
        font-size: 80%;
    }
}

.productImage{
    width: 20vw;
    max-width: 280px;
    position: absolute;
    
}



.productImage2 {
    width: 20vw;
    max-width: 280px;
    position: relative;
}

.productBrand {
    margin-left: 0.4rem;
    @media only screen and (max-width: 850px) {
            font-size: 80%;
        }
}

.productPrice {
    @media only screen and (max-width: 850px) {
            font-size: 60%;
        }
}

.displayStack__1{
    margin: 0.4rem;
}

