.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
    z-index: 0;
    width: 100%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.Brand{
    @media only screen and (max-width: 1000px) {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
}

.Logo {
    margin-top: 30px;
    font-size: 80%;
    width: 15vw;
    margin-bottom: 7vh;
    color: #000;

}

.Logo p{
    color: black;
    @media only screen and (max-width: 767px){
        width: 28vw;
    }
    @media only screen and (max-width: 400px) {
        width: 30vw;
    }
}
.ImgWrap{
    display: flex;
    width: 15vw;
    justify-content: center;
}

.List{
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    padding: 30px;
    @media only screen and (max-width: 1000px) {
            padding: 0;
            width: 100%;
        }
}

.col{
    display: flex;
    flex-direction: column;
}

.col h4{
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media only screen and (max-width: 441px) {
            font-size: 4vw;
        }
}

.col a{
    color: black;
    margin-bottom: 10px;
    @media only screen and (max-width: 441px){
        width: 20vw;
        font-size: 2.7vw;
    }
}

.col a:hover{
    color: #00ffea;
}

.col p {
    color: black;
    margin-bottom: 10px;
    @media only screen and (max-width: 441px) {
            font-size: 3vw;
        }
}

.col p:hover {
    color: #00ffea;
}

.Contact{
    padding: 30px;
    color: black;
    @media only screen and (max-width: 1000px) {
            padding: 0;
            width: 100%;
        }
}