@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
        font-style: italic;
        font-size: 300;
}

.container{
    display: flex;
    flex-direction: column;
}

.title_page {
    font-family: Lora;
    font-size: medium;
    background: #fff;
    height: 6vh;
    box-shadow: 0 20px 30px -8px rgba(38, 38, 38, .1);
    text-align: center;
    @media only screen and (max-width: 1000px){
        font-size: 2vw;
    }
    @media only screen and (max-width: 767px) {
        font-size: 2vw;
        
    }
}

.title_page_1 {
    font-size: 200%;
    @media only screen and (max-width: 767px) {
        position: relative;
            top: 20%;
        }
}

.product-view--sort {

    flex: 1 1 0%;
    display: flex;
    flex-direction: row;
    height: 90vh;
    flex-wrap: wrap;
    
}

.main-product {
    flex: 1 1 0%;
    width: 100vw;
    
}

.uncover {
    display: none;
    width: 100vw;
    background: #000000;
    gap: 1px;
    @media only screen and (max-width: 767px) {
        display: flex;
    }
}

.uncover button{
    margin-top: 1px;
    width: 50%;
    border: none;
    background: #fff;
    height: 10vw;
    font-size: 3vw;

}

.filter {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 105vh;
    width:20vw;
    position: sticky;
    top: 10vh;
    background: #efefef;
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.sort_by {

    margin-left: 3vw;
    margin-top: 5vh;

    @media only screen and (max-width: 767px){
        display: none;
    }
}

.page_nav {

    margin-top: 5vh;
    margin-right: 3vw;
    color: #000000;
    @media only screen and (max-width: 767px) {
            display: flex;
            justify-content: center;
            width: 100vw;
            margin-top: 3vh;
            margin-right: 0;
        }
}

.page_nav a{
    padding: 0.5vw;
}
#selectour{
    text-decoration: underline;
}


.postform {
    background: transparent;
    border: none;
    font-size: 1rem;
    max-height: 50px;
}

.products_notfound{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 2vw;
    @media only screen and (max-width: 767px) {
        height: 30vh;
        font-size: 3.5vw;
    }
}

//Filtres
.FilterSection {

    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-color: rgb(182, 181, 181) #efefef;
    scrollbar-width: thin;
}

.title {
    margin-bottom: 1rem;
    text-align: center;
}

.brands {
    margin-left: 1rem;
    margin-top: 3rem;
    margin: 1rem;
    border: none;
    height: 250px;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.brands_list {
    height: 150px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-color: rgb(182, 181, 181) #efefef;
}


.input {
    margin: 0.4rem;
}

.input_search {
    margin: 0.4rem;
    width: 13vw;
    height: 30px;
    border: none;
    background: #f8f8f8;
    border-bottom: 1px dashed rgb(182, 181, 181);
}